<div id="list" data-spy="scroll" data-target="#scroll" style="height:10vh"></div>
<div id="list" data-spy="scroll" data-target="#scroll" style="width:90vw; height:88vh; font-size:3vw;">
  <p>Facilities List</p>
  <h4>Yeah! Nothing here!</h4>
</div>
<div id="admin" data-spy="scroll" data-target="#scroll" style="height:10vh"></div>
<div id="admin" data-spy="scroll" data-target="#scroll"  style=";width:90vw; height:88vh; font-size:3vw;">
  <p>Administration List</p>
  <h4>Yeah! Nothing here!</h4>
</div>
<div id="create" data-spy="scroll" data-target="#scroll" style="height:10vh"></div>
<div id="create" data-spy="scroll" data-target="#scroll"  style=";width:90vw; height:88vh; font-size:3vw;">
  <p>New Facilities</p>
  <h4>Yeah! Nothing here!</h4>
</div>
