<div class="container-fluid" style="padding-top: 10vh;">
  <div class="list-group">
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">您想租用</h4>
      <p class="list-group-item-text"> .在清單的標籤內，點選想租用的設施</p>
      <p class="list-group-item-text"> .審核制的設施需等待該設施管理員驗證</p>
      <p class="list-group-item-text"> .會員制需成為會員才能進入借用</p>
      <p class="list-group-item-text"> .借用時點選日期表格，或用購物車可多選</p>
      <p class="list-group-item-text"> .點選表格時可<span style="color: #8888FF;">連續借用</span>最多四節</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">您想租出</h4>
      <p class="list-group-item-text"> .點選新增標籤，新增設施</p>
      <p class="list-group-item-text"> .審核制無法事後更改設定為非審核制</p>
      <p class="list-group-item-text"> .公告內容可至管理標籤選單更改</p>
      <p class="list-group-item-text"> .管理標籤=>選取欲管理設施=>刪除及審核</p>
      <p class="list-group-item-text"> .點選<span style="color: #8888FF;">更多管理</span>可以編輯會員、該設施管理員及設施描述</p>
    </a>
    <a href="/facilities" class="list-group-item active">
      <h4 class="list-group-item-heading" >點選 NCU Register 回歸首頁</h4>
    </a>
  </div>
</div>
