/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/*
 *= require jquery-ui
 */
@import 'jquery-ui/core.css';
@import 'jquery-ui/datepicker.css';
@import 'jquery-ui/theme.css';
@import "bootstrap-sprockets";
@import "bootstrap";
.btn {
  box-shadow: 5px 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #CCCCCC;
}
.dropdown-menu{
    max-width: 300px;
    white-space: normal;
    word-wrap:break-word;
}
  .tcenter {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }


.navbar {
  box-shadow: 5px 5px 5px #999;
  moz-box-shadow: 5px 5px 5px #999;
  webkit-box-shadow: 5px 5px 5px #999;
}



.navbar-right {
    display: inline-block;
    align-items: center;
}



.vcenter {
    display: inline-block;
    align-items: center;
}

.nav-pills>li>a:hover {
	background-color: #CCCCCC;
}
.nav-pills>li>a:active {
	background-color: #CCCCCC;
    color: #999999;
}
.nav-pills>li>a:focus {
	background-color: #CCCCCC;
    color: #999999;
}
.tablebg {
  background-color: #EEEEEE;
}

.clickcell .clicktoday .clickable-row {
  cursor: pointer;
}
